body{
    font-family: 'Roboto', sans-serif;
}


/* navbar */
.navbar {
    height: 100px;
}

.nav-link{
    color: #ffc000!important;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}

.navbar li{
    padding-right: 20px;
}

.navbar .btn, .courses .btn {
    border-radius: 100px;
    width: 120px;
    background: linear-gradient(237.65deg, #FFC000 1.55%, #FF8A00 95.8%) ;
    border-color: #fff7df;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #ffc000;
    /*border-radius: 100px;
    width: 120px;
    background: linear-gradient(237.65deg, #FFC000 1.55%, #FF8A00 95.8%) ;
    border-color: #FFC000;*/
}

/* Jumbotron */
h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 158.34%;
}

.jumbotron {
    background-image: url('../img/Hero.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 705px;
    color: white;
}

.jumbotron .btn, .stories .btn {
    border-radius: 100px;
    height: 56px;
    width: 160px;
    background: #fff7df;
    border-color: #fff7df;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: white;
}

/* services */
.services {
    min-height: 560px;
    background: #fff7df;
    text-align: center;
    color: #5c5c5c;
}

h4 {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    line-height: 158.34%;
    color: #ff8a00;
}

h6 {
    font-weight: 900;
    font-size: 20px;
    line-height: 182.7%;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../font/proxima/ProximaNova-Regular.otf');
}

p .courses a {
    font-family: 'Proxima Nova';
    font-size: 14px;
    line-height: 17px;
}

.services img {
    width: 130px;
    height: 80px;
}

/* stories */
.stories {
    height: 832px;
    background-color: #ff8a00;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.stories p {
    line-height: 175.78%;
}

/* Courses */

.stories p {
    line-height: 175.78%;
}
/* courses */
.courses {
    height: 1126px;
}

.courses a {
    text-decoration: none;
    color: #5C5C5C;
    padding-right: 2%;
}
.courses .card {
    height: 279px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}
.courses img {
    height: 70%;
    padding: 5px;
}

.courses .card-body, .courses .card-top {
    background: linear-gradient(219.26deg, #ffC000 1.55%, #FF8A00 95.8%);
    font-weight: 900;
    font-size: 14px;
    line-height: 152.34%;
    color: #ffffff;
}
.courses .card-top {
    width: 70px;
    height: 33px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}

/* Achievement */

.achievement {
    height: 298px;
    background: linear-gradient(213.98deg, #FFC000 1.55%, #FF8A00 95.8%);
    color: white;
    text-align: center;
}

/* Testiomonials */
.testimonials {
    height: 641px;
    color: #5c5c5c;

}

.testimonials .card {
    border-radius: 5px;
}

.testimonials h5 {
    font-weight: 900;
    font-size: 16px;
    line-height: 105.47%;
}

.testimonials .card-text {
    line-height: 175.78%;
    text-align: justify;
}

.testimonials h1 {
    color: #FF8A00;
}

.testimonials .card:hover {
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 5px;
}
