body {
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: burlywood!important;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.navbar li {
    padding-right: 25px;
    margin-right: 25px;
}

.navbar .btn {
    border-radius: 90px;
    /*width: 120px;*/
    background: linear-gradient(237,65deg), #ffC000 1.55%, #FF8A00 95.8%;
    border-color: burlywood;
}

.navbar-brand {
    color: white;
}